FLASK_ENV=development
FLASK_APP=goforbroca.app:create_app
DATABASE_URI=postgresql://localhost:5432/goforbroca-development
CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND_URL=redis://localhost:6379
TWILIO_ACCOUNT_SID=...
TWILIO_AUTH_TOKEN=...
TWILIO_PHONE_NUMBER=...
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...