HOST=localhost
FLASK_ENV=development
FLASK_APP=goforbroca.app:create_app
DATABASE_URL=postgresql://localhost:5432/goforbroca-development
CELERY_BROKER_URL=redis://localhost:6379
CELERY_RESULT_BACKEND_URL=redis://localhost:6379
GOOGLE_CLIENT_ID=...
GOOGLE_CLIENT_SECRET=...
GOOGLE_CREDENTIALS=...
GOOGLE_APPLICATION_CREDENTIALS=...
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_REGION=us-west-2
AWS_BUCKET=goforbroca
